@import "~@style/base.scss";

$fontFamily: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
  "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

/* color */
$primary-color: #3771d7;
$table-header-color: #f8f9fc;
$view-background-color: #f2f2f2;
$table-boeder-color: $view-background-color;
$border-color: #d5d7e2;
$input-border-color: #eeeeee;
$color-333: #333;
$color-666: #666;
$color-999: #999;
$disabled-color: #ccc;
$error-color: #f5222d;
$success-color: #52c41a;
$warning-color: #ffbe00;

/* font-size */
$fz10: 10px;
$fz11: 11px;
$fz12: 12px;
$fz13: 13px;
$fz14: 14px;
$fz15: 15px;
$fz16: 16px;
$fz17: 17px;
$fz18: 18px;
$fz19: 19px;
$fz20: 20px;
$fz22: 22px;
$fz24: 24px;
$fz26: 26px;

/* mixin */

@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

@mixin borr($radius: 8px) {
  border-radius: $radius;
}

@mixin cursor($cursor: pointer) {
  cursor: $cursor;
}

@mixin buncc($url) {
  background: url($url) no-repeat center center;
}

/* position extend */
.por {
  position: relative;
}

.poa {
  position: absolute;
}

/* position center extend*/
.position-y-center {
  @extend .poa;
  top: 50%;
  transform: translateY(-50%);
}

.position-x-center {
  @extend .poa;
  left: 50%;
  transform: translateX(-50%);
}

.position-center {
  @extend .poa;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* font color */
.success-color {
  color: $success-color !important;
}

.error-color {
  color: $error-color !important;
}

.primary-color {
  color: $primary-color !important;
}

.unclick-color {
  color: #cccccc;
}

/* icon color */
.type-icon-success {
  @extend .por;
  padding-left: 16px;

  &:before {
    @extend .position-y-center;
    content: "";
    @include wh(8px, 8px);
    @include borr(50%);
    background: $success-color;
    left: 0;
  }
}

.type-icon-error {
  @extend .por;
  padding-left: 16px;

  &:before {
    @extend .position-y-center;
    content: "";
    @include wh(8px, 8px);
    @include borr(50%);
    background: $error-color;
    left: 0;
  }
}

.type-icon-info {
  @extend .por;
  padding-left: 16px;

  &:before {
    @extend .position-y-center;
    content: "";
    @include wh(8px, 8px);
    @include borr(50%);
    background: $primary-color;
    left: 0;
  }
}

.type-icon-destroy {
  @extend .por;
  padding-left: 16px;

  &:before {
    @extend .position-y-center;
    content: "";
    @include wh(8px, 8px);
    @include borr(50%);
    background: $disabled-color;
    left: 0;
  }
}

.ellipsis1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis2 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cursor {
  @include cursor;
}

.block {
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  zoom: 1;

  &:after {
    content: ".";
    clear: both;
    @extend .block;
    overflow: hidden;
    font-size: 0;
    height: 0;
  }
}

.fwb {
  font-weight: bold;
}

.w100p {
  width: 100%;
}
