.Row {
  height: 100%;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(213, 215, 226, 1);
  margin-top: 16px;
  margin-bottom: 100px;
  /* 列表tab样式 */
  .RowTitle {
    padding: 16px 32px;
    font-size: 16px;
    color: #333;
    line-height: 24px;
    border-bottom: 1px solid #eef1f7;
    span {
      @extend .cursor;
      //color: #3771d7;

      &.active {
        font-weight: bold;
        @include cursor(default);
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          background: #000a35;
          bottom: -21px;
          left: 0;
        }
      }
    }
  }
}

.bankTypeText > input {
  border: 1px solid #dcdddd !important;
  border-radius: 4px;
  padding: 7px 8px;
  height: 30px;
  line-height: 30px;
  position: relative;
  font-size: 14px;
}

.unitParent .el-input {
  width: 72px;
}

.unitParent .unitW input,
.unitParent .unitY input,
.unitParent .unitD input,
.unitParent .unitB input {
  padding-right: 22px;
}

.unitParent .unitW::before {
  content: '万';
  color: #ccc;
  font-size: 14px;
  position: absolute;
  line-height: 14px;
  top: 8px;
  right: 8px;
  background: none;
}

.unitParent .unitY::before {
  content: '元';
  color: #ccc;
  font-size: 14px;
  position: absolute;
  line-height: 14px;
  top: 8px;
  right: 8px;
  background: none;
}

.unitParent .unitD::before {
  content: '天';
  color: #ccc;
  font-size: 14px;
  position: absolute;
  line-height: 14px;
  top: 8px;
  right: 8px;
  background: none;
}

.unitParent .unitB::before {
  content: '%';
  color: #ccc;
  font-size: 14px;
  position: absolute;
  line-height: 14px;
  top: 8px;
  right: 8px;
  background: none;
}

.unitParent input {
  border: 1px solid #dcdddd !important;
  border-radius: 4px;
  padding: 7px 8px;
  height: 30px;
  line-height: 30px;
  position: relative;
  font-size: 14px;
  background: none;
}

.filterRadio .el-radio__label {
  color: #666 !important;
  font-size: 14px;
}

.filterRadio .el-radio__inner {
  border: 1px solid #dcdfe6 !important;
  width: 16px;
  height: 16px;
}

.filterRadio .el-radio__input.is-checked .el-radio__inner {
  border-color: #3771d7 !important;
  background: #3771d7;
}

/*心愿单*/
.wisthlist .el-button--default {
  padding: 10.2px 16px !important;
}

.backstageWishListAdd .el-button--info {
  padding: 10.2px 16px !important;
}

.backstageWishListEdit .el-button--info {
  padding: 10.2px 16px !important;
}

/* 购物车弹窗标题 */

/* backstage content 样式 */
.backstageRow {
  padding: 16px 32px;
}

/* 分享弹窗 */
.shareDialog {
  .el-dialog {
    border-radius: 4px;
  }

  .el-dialog__header {
    display: none;
  }

  .el-dialog__body {
    padding: 24px 32px;
  }
}

/* 优惠券弹窗 */
.couponDialog {
  .el-dialog {
    border-radius: 4px;
  }

  .el-dialog__header {
    padding: 16px 20px 16px 24px !important;
  }

  .el-dialog__title {
    font-size: $fz16 !important;
    color: $color-333 !important;
    font-weight: bold !important;
    line-height: 24px !important;
  }

  .el-dialog__body {
    padding: 0 !important;
  }
}

/* 筛选条件样式 */
.commonFilter {
  @extend .clearfix;
  margin-top: 20px;
  line-height: 54px;

  .commonFilterItem {
    line-height: 54px;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  .commonFilterButtons {
    display: inline-block;
    width: 150px;
  }

  .commonFilterInput {
    width: 160px;
  }

  .commonFilterSelect {
    width: 106px;
  }
}

/* tabel样式 */
.commonTable {
  margin-top: 8px;
  border-top: 1px solid #e6e6e6;

  .el-table {
    &::before {
      height: 0;
    }

    .el-table__header {
      thead {
        color: $color-999;
        font-weight: normal;

        tr {
          background: $table-header-color;

          th {
            font-weight: normal;
            background: $table-header-color;
          }
        }
      }
    }

    .el-table__body {
      .el-table__row--striped {
        td {
          background: $table-header-color;
        }
      }

      // .el-table__row {
      //   height: 72px;
      //   line-height: 72px;
      // }
    }
  }
}

/* 弹出框表格样式 */
.commonTableDialog {
  margin-top: 8px;
  border-top: 1px solid #e6e6e6;

  .el-table {
    &::before {
      height: 0;
    }

    .el-table__header {
      thead {
        color: $color-999;
        font-weight: normal;

        tr {
          background: $table-header-color;

          th {
            font-weight: normal;
            background: $table-header-color;
          }
        }
      }
    }

    .el-table__body {
      .el-table__row--striped {
        td {
          background: $table-header-color;
        }
      }

      .el-table__row {
        height: 49px;
        line-height: 49px;
      }
    }
  }
}

/* 弹窗表格 */
.errorTipsDialog {
  &::v-deep .el-dialog {
    z-index: 4000;
    @include borr(4px);

    .el-dialog__header {
      padding-bottom: 0;

      .el-dialog__title {
        font-size: $fz16;
        color: $color-333;
        @extend .fwb;
      }
    }

    .el-dialog__body {
      padding-top: 0;
    }
  }
}

/******************************************/
.tabsdiv,
.onshelfapplication,
.billdetails {
  .el-tabs__item {
    height: 60px;
    line-height: 60px;
  }

  .el-tabs__item.is-active {
    color: #303133 !important;
  }

  .el-tabs__active-bar {
    background: #303133 !important;
  }

  .el-tabs__nav-wrap {
    padding: 0 20px !important;
  }

  .el-tab-pane {
    padding: 0 20px !important;
  }

  .el-collapse-item__header {
    border: none !important;
  }

  .el-collapse {
    border: none !important;
  }

  .el-form-item {
    margin-bottom: 0px !important;
  }
}

.backstages {
  .el-tabs__header {
    padding: 0 20px !important;
  }

  .el-tab-pane {
    padding: 0 20px !important;
  }
}

/*radio样式*/
.myorderforsalelist {
  .el-radio-button__orig-radio:checked + .el-radio-button__inner {
    color: #3771d7 !important;
    background: rgba(1, 1, 1, 0) !important;
    border-color: #3771d7;
    -webkit-box-shadow: -1px 0 0 0 #3771d7;
    box-shadow: -1px 0 0 0 #3771d7;
  }
}

.el-select-dropdown__item {
  padding: 0 20px !important;
}

.onshelfapplication {
  .el-select-dropdown__item {
    padding: 0 20px !important;
  }
}

.el-dialog__body {
  padding: 0px 20px !important;
}

.backstageUnrecitedList {
  .el-dialog {
    z-index: 555 !important;
  }

  .el-dialog__body {
    padding: 10px 20px !important;
  }
}

.is-process {
  font-weight: bold;
  color: #3771d7 !important;
}

.el-step__icon.is-text {
  border-radius: 50%;
  border: 2px solid;
  border-color: currentColor !important;
}

.el-steps--simple {
  background: rgba(1, 1, 1, 0) !important;
}

/* common 弹窗 */
.commonDialog {
  .el-dialog {
    @include borr(4px);

    .el-dialog__header {
      display: none;
    }

    .el-dialog__body {
      padding: 0 !important;
    }
  }

  .commonDialogRow {
    padding: 24px 32px;

    .commonDialogRowTitle {
      @extend .por;
      @extend .fwb;
      font-size: $fz16;
      color: $color-333;
      line-height: 24px;
      margin-bottom: 8px;

      .commonDialogRowTipsBtn {
        @extend .position-y-center;
        right: 0;
        font-size: $fz12;
        color: $color-999;
        line-height: 20px;
        @extend .cursor;
        font-weight: normal;
      }
    }

    .commonDialogRowTips {
      font-size: $fz14;
      color: $color-999;
      @extend .por;

      .commonDialogRowTipsBtn {
        @extend .position-y-center;
        right: 0;
      }
    }

    .commonDialogRowInput {
      margin-top: 16px;
    }

    .commonDialogRowBtns {
      margin-top: 32px;
      text-align: right;
    }
  }
}

/* 删除线 */
.deleteSpan {
  color: $color-999;
  text-decoration: line-through;
  font-size: $fz14;
  margin-left: 8px;
}

/* 抢购图标 */
.flashSaleFlag {
  margin-left: 4px;
  display: inline-block;
  width: 12px;
  padding: 0 4px;
  height: 20px;
  border-radius: 4px;
  background: linear-gradient(
    131deg,
    rgba(237, 79, 79, 1) 0%,
    rgba(255, 148, 106, 1) 100%
  );
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}

/* 隐藏时间控件的此刻 */
.el-picker-panel__footer {
  .el-button--text {
    display: none;
  }
}

/* 平台提示 */
.platformTips {
  margin-left: 4px;
  @extend .position-y-center;
  @extend .cursor;
  display: inline-block;
  @include wh(16px, 16px);
  background: url('~@img/icon_question.png') no-repeat center right;
  background-size: 16px 16px;
}
// 主体宽度
.boundary {
  border: 1px solid #d5d7e2;
  margin-top: 16px;
}
.wdh {
  width: 1200px;
  margin: 0 auto;
}
